.topNav {
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    list-style-type: none;
    margin: unset;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.items {
    float: right;
    padding: .5rem;
    font-size: large;
}